app-sheet-music {
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
}

#button-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#music-description {
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-top: 40px;
    margin-right: 140px;
    left: 0;
    right: 0;
    z-index: 2;
}